#formOrcamento {
	padding-top: 20px;
}

#formContato .relativeInput,
#formContato .relativeTextarea {
	background: #e6e6e6;
	float: right;
	width: 71%;
	padding: 0 15px;
	height: 100%;
}

.relativeBt {
	float: right;
	margin-top: 20px;
}

#formContato label {
	display: block;
	width: 20%;
	text-align: right;
	padding-right: 10px;
	font-size: 14px;
	line-height: 40px;
	float: left;
}

#formContato input {
	width: 100%;
	height: 100%;
	border: none;
	padding: 0;
	background: none;
	color: #4E7171;
    float: left;
    font-family: 'open_sansregular',arial,sans-serif;
    font-size: 14px;
}

#formContato li {
	height: 40px;
	margin-bottom: 5px;
	display: block;
}

#formContato .liCampoTextArea {
	height: 172px;
}

#formContato .divide {
	width: 50%;
	height: 100%;
	float: left;
}

#formContato .divide .relativeInput {
	width: 42%;
}

#formContato .divide label {
	width: 40%;
}

#formContato textarea {
	float: left;
	font-family: 'open_sansregular', arial, sans-serif;
	border: none;
	background: #e6e6e6;
	font-size: 14px;
	color: #4e7171;
	width: 100%;
	height: 95%;
}

#formContato .relativeTextarea {
	padding-top: 10px;
	padding-bottom: 10px;
}

#btEnviarContato {
	float: right;
	background: none;
	border: none;
	outline: none;
	font-size: 22px;
	color: #4e7171;
	font-family: 'open_sansregular', arial, sans-serif;
}

.blocoEmpresa {
	margin-top: 45px;
}

.empresaEndereco span {
	display: block;
	color: #000;
	font-size: 15px;
	padding-bottom: 3px;
}

.empresaImg {
	display: block;
	width: 100%;
	margin-top: 12px;
}

.contatoSidebarUl {
	margin-top: 15px;
}

.contatoSidebarLi {
	display: block;
	color: #000;
	font-size: 18px; 
	padding-bottom: 8px;
}

.contatoSidebarLiFone,
.contatoSidebarLiFone a {
	font-size: 26px;
	color: #000;
	text-decoration: none;
}

.linkEmail,
.linkEmail a {
	color: #000;
	text-decoration: none;
	display: block;
}

.linkEmail:hover {
	text-decoration: underline;
}



@media only screen and (max-width: 1023px) {
	#formContato .relativeInput,
	#formContato .relativeTextarea {
		float: none;
		width: auto;
	}

	#formContato li {
		margin-bottom: 35px;
	}

	#formContato label {
		width: 100%;
		float: none;
		text-align: left;
		line-height: 1em;
		padding: 0;
		margin-bottom: 4px;
	}

	#formContato .liCampoTextArea {
		height: 100px;
	}

	#formContato .divide {
		width: 100%;
		margin-bottom: 35px;
	}

	#formContato .divide .relativeInput {
		width: auto;
	}

	#formContato .divide label {
		width: 100%;
	}
}