.blocoEmpresa {
	margin-top: 45px;
}

.empresaEndereco span {
	display: block;
	color: #000;
	font-size: 15px;
	padding-bottom: 3px;
}

.empresaImg {
	display: block;
	width: 100%;
	margin-top: 12px;
}

.contatoSidebarUl {
	margin-top: 15px;
}

.contatoSidebarLi {
	display: block;
	color: #000;
	font-size: 18px; 
	padding-bottom: 8px;
}

.contatoSidebarLiFone,
.contatoSidebarLiFone a {
	font-size: 26px;
	color: #000;
	text-decoration: none;
}

.linkEmail,
.linkEmail a {
	color: #000;
	text-decoration: none;
	display: block;
}

.linkEmail:hover {
	text-decoration: underline;
}

.form .errorBox {
	background: #d71925;
	display: none;
	color: #FFF;
	font-size: 12px;
	text-align: center;
	padding: 15px 15px;
	width: 71%;
	height: auto;
	float: right;
	margin-top: 10px;
}

label.error  {
	display: none !important;
}

