.institucionalLi {
	float: left;
	width: 150px;
	height: 103px;
	border: 3px solid #669933;
	margin-right: 30px;
}

.institucionalLiLast {
	margin-right: 0;
}

.institucionalImg {
	width: 100%;
	display: block;
}


#produtosSidebarUl {
	margin-top: 45px;
}

.produtosSidebarLi {
	width: 117px;
	text-align: center;
	float: left;
	margin: 0 0 40px 30px;
}

.produtosSidebarLink {
	text-decoration: none;
	display: block;
	height: 100%;
}

.blocoTituloProduto {
	border-top: 10px solid #006633;
	position: relative;
}

.produtoSidebarBt {
	background: url('../img/botoes/ver_mais_sidebar.png') no-repeat;
	width: 35px;
	height: 30px;
	position: absolute;
	top: -1px;
	right: 0;
}

.produtosSidebarTitulo {
	color: #006633;
	font-size: 13px;
	display: block;
	text-align: left;
	text-decoration: none;
	line-height: 15px;
	margin-top: 3px;
	max-width: 70px;
}

.produtosSidebarLink:hover .produtosSidebarTitulo {
	text-decoration: underline;
}

@media only screen and (max-width: 1023px) {
	.institucionalLi {
		float: none;
		margin: 0 auto 30px;
		margin-right: 30px;
	}

	.institucionalLiLast {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 360px) {
	.produtosSidebarLi {
		margin-left: 10px;
	}
}

