/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #FFF;
	font-family: "frabk";
	letter-spacing:0;
	font-size:14px;
}

section ul li {
	list-style: none;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: none;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */
.ir { text-indent:-100%; overflow:hidden; white-space:nowrap; display:block; font-size:0; line-height:0; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}


/* Placeholder */

::-webkit-input-placeholder {
	opacity: 0.8;
}

:-moz-placeholder { /* Firefox 18- */
	opacity: 0.8;  
}

::-moz-placeholder {  /* Firefox 19+ */
   opacity: 0.8;  
}

:-ms-input-placeholder {  
   opacity: 0.8;  
}


/* FONTES DO PROJETO */
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-regular-webfont.woff') format('woff'),
		 url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* ESTRUTURA DO PROJETO */
html,
body {
	min-height: 100%;
}

html {
    overflow-y: scroll;
}



body {
	width: 100%;
	background: #e6e6e6;
	line-height: 1em;
	color: #000;
	font-family: 'open_sansregular', arial, sans-serif;
    box-sizing: border-box;
    moz-box-sizing: border-box;
    overflow-x: hidden;
    webkit-box-sizing: border-box;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}

.geralTransition {
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}


/* TOPO */
#textoTopo {
	display: block;
	width: 100%;
	margin: 35px 0 45px;
}

#textoTopo span {
	display: block;
	font-size: 24px;
	text-align: right;
}

.blocoMenu {
	float: right;
}

.menuTopoUl {
	float: left;
}

.menuTopoLi {
	float: left;
	margin: 12px 0 0 25px;
}

.menuTopoLink {
	display: block;
	color: #666666;
	font-size: 16px;
	text-decoration: none;
}

.menuTopoLink:hover {
	color: #00682e;
}

.blocoBusca {
	float: left;
	margin-left: 25px;
}

.formBusca .relative {
	position: relative;
}

.formBusca .label,
.formBusca .input {
	font-family: 'open_sansregular', arial, sans-serif;
	color: #666;
	font-size: 14px;
}

.formBusca .label {
	position: absolute;
	top: 12px;
	left: 10px;
}

.formBusca .input {
	width: 160px;
	height: 15px;
	border: 1px solid #f9f9f9;
	padding: 10px 53px 10px 10px;
	line-height: 15px;
}

.formBusca .btBusca {
	background: url('../img/botoes/bt_busca.png') no-repeat;
	width: 34px;
	height: 29px;
	position: absolute;
	top: 4px;
	right: 4px;
	border: none;
}

.fone {
	font-size: 24px;
	color: #666;
	float: left;
	display: block;
	padding-top: 10px;
	margin-left: 25px;
}

#menuPrincipal {
	position: relative;
	z-index: 100;
	margin-top: 45px;
}

#menuMobile {
	display: none;
}

.btMenu {
	display: none;
}

#boxLogo {
	float: left;
	margin-left: -50px;
	z-index: 2;
	position: relative;
}

#logoLink {
	display: block;
	height: 100%;
}

#menuUl {
	margin-top: 9px;
}

#menuUl .menuLi {
	float: left;
	margin-left: -44px;
}

#menuUl .menuLiFirst {
	margin-left: -57px;
}

#menuUl .menuLink {
	background: url('../img/backgrounds/menu.png') no-repeat;
	width: 143px;
	height: 35px;
	display: block;
	font-size: 16px;
	text-decoration: none;
	color: #FFF;
	padding: 19px 0 0 63px;
}

#menuUl .menuLink:hover {
	background-position: 0 -63px;
}



/* RODAPE */
#rodapeConteudo {
	margin-top: 30px;
}

#rodapeConteudo .fone {
	display: none;
}

#rodapeConteudo .blocoMenu {
	margin-top: 25px;
}

#rodapeConteudo .menuTopoLink {
	font-size: 12px;
}

#rodapeConteudo .input {
	width: 120px;
}

#contatos {
	position: absolute;
	top: -30px;
	right: 0;
	display: block;
	color: #000;
	text-align: right;
}

#contatos span {
	font-size: 30px;
	display: block;
	padding-bottom: 10px;
	font-weight: bold;
}

#contatos .linkEmail {
	display: block;
	font-size: 18px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.containerRodape {
	padding: 40px 0;
	position: relative;
}

#rodapeLeft {
	float: left;
}

#logosUl {
	display: block;
	margin-bottom: 20px;
}

.logosLi {
	float: left;
}

.endereco span,
.linkChegar {
	display: block;
	color: #666;
	font-size: 13px;
	padding-bottom: 3px;
}

.linkChegar {
	display: inline-block;
	padding-top: 5px;
	text-decoration: none;
}

.linkChegar:hover {
	color: #00682E;
}

#menuPrincipalRodapeUl {
	float: right;
}

.menuPrincipalRodapeLi {
	float: left;
	margin-left: -30px;
}

.menuPrincipalRodapeLink {
	background: url('../img/backgrounds/menu_rodape.png') no-repeat;
	width: 97px;
	height: 26px;
	display: block;
	color: #FFF;
	text-decoration: none;
	padding: 10px 0 0 42px;
	font-size: 12px;
}

.menuPrincipalRodapeLink:hover {
	background-position: 0 -45px;
}

#direitos {
	width: 100%;
	display: block;
	margin: 45px 0 0 0;
}

#direitos .txt {
	display: block;
	float: left;
	color: #999;
	font-size: 10px;
}

#direitos #logoOfficeArts {
	background: url('../img/logos/office_arts.png') no-repeat;
	width: 84px;
	height: 21px;
	float: right;
	margin-top: 4px;
} 



/* SESSAO */
#main {
	float: left;
	width: 600px;
	position: relative;
	background: url("../img/backgrounds/bg_main.png") no-repeat center bottom;
}

#sidebar {
	float: right;
    padding-top: 20px;
    width: 330px;
}

#navLocal {
	padding-top: 50px;
}

#navLocal li {
	border-bottom: 2px solid #b3b3b3;
}

#navLocal .subCategoriaAberta {
	border-bottom: none;
}

#navLocal a {
	font-size: 18px;
	color: #1f1f1f;
	display: block;
	text-decoration: none;
	line-height: 110%;
	padding: 10px 0 10px 10px;
}

#navLocal ul ul {
	background: #cccccc;
	border-top: 2px solid #b3b3b3;
}

#navLocal ul ul a {
	font-size: 14px;
}

#navLocal a:hover {
	background: #FFF;
}

.tituloSidebar {
	background: url("../img/backgrounds/bg_tt_produtos_side.png") no-repeat right bottom;
	display: block;
	width: 166px;
	line-height: 35px;
	height: 35px;
	padding-right: 43px;
	color: #FFF;
	font-size: 18px;
}

.tituloSidebar span {
	background: url("../img/backgrounds/bg_tt_produtos_side.png") no-repeat left top;	
	display: block;
	padding-left: 20px;
	line-height: 35px;
	height: 35px;
}

.headerSessao {
	position: relative;
	padding-top: 90px;
} 

.tituloSessao {
	font-size: 40px;
	color: #004533;
	display: block;
	font-weight: bold;
	padding-bottom: 15px;
}

.migalhaPao {
	height: 30px;
}

.migalhaPao li a {
	color: #000000;
	font-size: 11px;
	text-decoration: none;
}

.migalhaPao li {
	float: left; 
	position: relative;
	padding-right: 9px;
	margin-right: 5px;
}

.migalhaPao li:after {
	content: "/";
	display: block;
	position: absolute;
	top: 1px;
	right: 0;
}

.migalhaPao li.last:after {
	content: none;
}

.migalhaPao li a:hover {
	text-decoration: underline;
}

.migalhaPao li.last a:hover {
	text-decoration: none;
	cursor: default;
}

.cms img {
	padding-bottom: 30px;
	width: 100%;
}

.cms p {
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 30px;
}

#sessaoConteudo {
	background: #FFF;
	padding: 30px;
	min-height: 500px;
}

.voltarTopo{
	padding-top: 18px;
	height: 82px;
}

#linkTopo {
	width: 240px;
	height: 82px;
	margin: 0 auto;
}


/* FORMULARIO */
.form .relativeInput,
.form .relativeTextarea {
	background: #e6e6e6;
	float: right;
	width: 71%;
	padding: 0 15px;
	height: 100%;
}

.form .relativeBt {
	float: right;
	margin-top: 20px;
	width: 100%;
}

.form label {
	display: block;
	width: 20%;
	text-align: right;
	padding-right: 10px;
	font-size: 14px;
	line-height: 40px;
	float: left;
}

.form input {
	width: 100%;
	height: 100%;
	border: none;
	padding: 0;
	background: none;
	color: #4E7171;
    float: left;
    font-family: 'open_sansregular',arial,sans-serif;
    font-size: 14px;
}

.form li {
	height: 40px;
	margin-bottom: 5px;
	display: block;
}

.form .liCampoTextArea {
	height: 172px;
}

.form .divide {
	width: 50%;
	height: 100%;
	float: left;
}

.form .divide .relativeInput {
	width: 42%;
}

.form .divide label {
	width: 40%;
}

.form textarea {
	float: left;
	font-family: 'open_sansregular', arial, sans-serif;
	border: none;
	background: #e6e6e6;
	font-size: 14px;
	color: #4e7171;
	width: 100%;
	height: 95%;
}

.form .relativeTextarea {
	padding-top: 10px;
	padding-bottom: 10px;
}

.form .btEnviar {
	float: right;
	background: none;
	border: none;
	outline: none;
	font-size: 22px;
	color: #4e7171;
	font-family: 'open_sansregular', arial, sans-serif;
}


@media only screen and (max-width: 1023px) {
	/* TOPO */
	#textoTopo span {
		text-align: center;
		float: none;
		padding: 0 30px;
		line-height: 30px;
	}

	.blocoMenu {
		display: none;
	}

	#menuPrincipal {
		margin-top: 5px;
	}

	#boxLogo {
		width: 223px;
		margin: 0;
	}

	#boxLogo img {
		width: 100%;
	}

	#menu {
		display: none;
	}

	/* CONTEUDO */
	.container {
		text-align: center;
	}

	.cms p { 
		text-align: justify;
	}

	#conteudoPrincipal {
		margin: 0 20px;
	}

	#main {
		float: none;
		margin: 0 auto;
		width: auto;
		max-width: 600px;
	}

	#sidebar {
		float: none;
	    margin: 40px auto 0;
	    width: auto;
	    max-width: 330px;
	}

	#sidebar img {
		display: block;
		width: 100%;
	}

	.headerSessao {
		text-align: center;
	} 

	.migalhaPao {
		display: inline-block;
	}



	/* RODAPE */
	#rodapeLeft {
		width: 300px;
		margin: 0 auto;
		float: none;
	}

	#logosUl {
		text-align: center;
		width: 160px;
		margin: 0 auto 30px;
	}

	.logosLi {
		float: none;
		margin-bottom: 15px;
	}

	#contatos {
		display: none;
	}

	.endereco,
	.linkChegar {
		text-align: center;
		display: block;
	}

	#rodapeConteudo .blocoMenu,
	#menuPrincipalRodapeUl {
		display: none;
	}

	#direitos {
		margin-top: 0;
	}

	#direitos .txt {
		text-align: center;
		display: inline-block;
		float: none;
		padding: 0 30px;
	}

	#direitos #logoOfficeArts {
		float: none;
		margin: 30px auto 0;
	}


	
	/* FORMULARIO */
	.form .relativeInput,
	.form .relativeTextarea {
		float: none;
		width: auto;
	}

	.form li {
		margin-bottom: 35px;
	}

	.form label {
		width: 100%;
		float: none;
		text-align: left;
		line-height: 1em;
		padding: 0;
		margin-bottom: 4px;
	}

	.form .liCampoTextArea {
		height: 100px;
	}

	.form .divide {
		width: 100%;
		margin-bottom: 35px;
	}

	.form .divide .relativeInput {
		width: auto;
	}

	.form .divide label {
		width: 100%;
	}


	/*--------------------------------------------------------------------------------
	*
	*	MENU MOBILE
	* 
	*--------------------------------------------------------------------------------*/
	.btMenu {
		display: block;
		width: 50px;
		height: 50px;
		float: right;
		background: url("../img/botoes/bt_menu_mobile.png") no-repeat #006633 0 0;
		margin-right: 20px;
	}

	#menuMobile {
		display: inline;
		position: absolute;
		top: 0;
		right: 0;
		width: 75%;
		height: 100%;
		background: #034725;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		-webkit-transform: translate3d(100%, 0, 0);
		-moz-transform: translate3d(100%, 0, 0);
		-ms-transform: translate3d(100%, 0, 0);
		-o-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);

		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	#wrapper {
		position: relative;
		right: 0;

		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);

		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;

		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
		transition: transform 500ms ease
	}

	.menuAberto .btMenu {
		background-position: 0 -80px;
	}

	.menuAberto #menuMobile {
		-webkit-transform: translate3d(100%, 0, 0);
		-moz-transform: translate3d(100%, 0, 0);
		-ms-transform: translate3d(100%, 0, 0);
		-o-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}

	.menuAberto #wrapper {
		-webkit-transform: translate3d(-75%, 0, 0);
		-moz-transform: translate3d(-75%, 0, 0);
		-ms-transform: translate3d(-75%, 0, 0);
		-o-transform: translate3d(-75%, 0, 0);
		transform: translate3d(-75%, 0, 0)
	}

	/* ESTILIZANDO MENU MOBILE */
	.foneMobile {
		display: block;
		color: #FFF;
		font-size: 18px;
		text-align: center;
		line-height: 50px;
		height: 50px;
		text-decoration: none;
	}

	#menuMobileUl {
		padding: 30px 0;
	}

	#menuMobileUl a {
		display: block;
		text-align: center;
		color: #FFF;
		font-size: 16px;
		line-height: 20px;
		padding: 15px 0;
		text-decoration: none;
	}

	#menuInstlMobileUl {
		background: #03572d;
	}

	#menuInstlMobileUl a {
		font-size: 14px;
		color: #FFF;
		display: block;
		text-align: center;
		text-decoration: none;
		line-height: 18px;
		padding: 15px 0 14px 0; 
		border-bottom: 1px solid #034725;
	}

	.formBuscaMobile {
		width: 223px;
		margin: 0 auto;
	}

	.formBuscaMobile .relative {
		position: relative;
	}

	.formBuscaMobile .label,
	.formBuscaMobile .input {
		font-family: 'open_sansregular', arial, sans-serif;
		color: #666;
		font-size: 14px;
	}

	.formBuscaMobile .label {
		position: absolute;
		top: 12px;
		left: 10px;
	}

	.formBuscaMobile .input {
		width: 160px;
		height: 15px;
		border: 1px solid #f9f9f9;
		padding: 10px 53px 10px 10px;
		line-height: 15px;
		-webkit-appearance: none;
		border-radius: 0;
	}

	.formBuscaMobile .btBusca {
		background: url('../img/botoes/bt_busca.png') no-repeat;
		width: 34px;
		height: 29px;
		position: absolute;
		top: 4px;
		right: 4px;
		border: none;
	}	
}

@media only screen and (max-width: 480px) {
	#sessaoConteudo {
		padding-bottom: 70px
	}

	.tituloSidebar {
		padding-right: 42px;
	}

	.voltarTopo {
		display: none;
	}
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}