/* BANNER */
#banner {
	width: 100%;
	position: relative;
	margin-top: -38px;
}

#bannerUl {
	height: 390px;
}

.textoBanner {
	background: #FFF;
	color: #00682e;
	padding: 23px 20px;
	position: relative;
}

.textoBanner .textoTitulo {
	display: block;
	font-size: 40px;
	padding-bottom: 22px;
	font-weight: bold;
	letter-spacing: -0.05em;
}

.textoBanner .textoDescricao {
	display: block;
	font-size: 15px;
}

.bannerLink {
	position: absolute;
	top: 40px;
	right: 22px;
	font-size: 25px;
	color: #000;
	text-decoration: none;
}

.bannerLink:hover {
	color: #00682e;
}

#logoFixo {
	position: absolute;
	top: 50px;
	left: 50%;
	width: 256px;
	height: 211px;
	margin-left: -128px;
	z-index: 100;
}


/* CONTEUDO */
#conteudoPrincipal {
	background: url('../img/backgrounds/bottom_conteudo.png') no-repeat bottom center;
	padding-bottom: 131px;
	position: relative;
}

#linkTopo {
	background: url('../img/logos/logo_topo.png') no-repeat bottom center;
	width: 378px;
	height: 131px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	margin-left: -190px;
}



/* PRODUTOS */
#produtos {
	background: url('../img/backgrounds/bg_produtos.png') repeat-x;
	height: 288px;
}


/* NOVIDADES */
#novidades {
	background: #FFF;
	text-align: center;
}

.blocoTitulo {
	text-align: center;
	position: relative;
	display: inline-block;
}

.blocoTitulo .titulo {
	background: #006633;
	color: #FFF;
	font-size: 22px;
	font-weight: bold;
	display: inline-block;
	line-height: 19px;
	padding: 15px 23px 30px;
}

.blocoTitulo .triangulo {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 22px solid #FFF;
}

.containerNovidades {
	padding: 30px 0 20px;
	margin: 0 20px;
}

#novidadesUl {
	float: left;
	margin-top: 10px;
}

.novidadesLi {
	width: 156px;
	float: left;
	margin-right: 7px;
}

.novidadesLiLast {
	margin-right: 0;
}

.novidadesLink {
	text-decoration: none;
}

.novidadesImg {
	border: 3px solid #669933;
}

.novidadesTitulo {
	color: #438e69;
	font-size: 14px;
	display: block;
	line-height: 16px;
	padding-top: 5px;
}

.novidadesLi:hover .novidadesImg {
	border-color: #005e33;
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter: alpha(opacity=70);
}

.novidadesLi:hover .novidadesTitulo {
	color: #006633;
}

#facebook {
	float: right;
}
