/* BANNER */
#banner {
	width: 100%;
	position: relative;
}

#bannerUl {
	background: #FFF;
}

#bannerUl img {
	width: 100%;
}

.textoBanner {
	background: #FFF;
	color: #00682e;
	padding: 23px 0;
	position: relative;
	width: 100%;
	float: left;
}

.textoBanner .textoTitulo {
	display: block;
	font-size: 40px;
	padding-bottom: 22px;
	font-weight: bold;
	letter-spacing: -0.05em;
	padding-left: 22px;
}

.textoBanner .textoDescricao {
	display: block;
	font-size: 15px;
	padding-left: 22px;
}

.bannerLink {
	position: absolute;
	top: 40px;
	right: 22px;
	font-size: 25px;
	color: #000;
	text-decoration: none;
}

.bannerLink:hover {
	color: #00682e;
}

#logoFixo {
	position: absolute;
	top: 50px;
	left: 50%;
	width: 256px;
	height: 211px;
	margin-left: -128px;
	z-index: 100;
}

.trianguloGeral {
	position: absolute;
	left: 50%;
	background: url('../img/backgrounds/triangulo.png') no-repeat;
	width: 540px;
	height: 95px;
	z-index: 100;
	margin-left: -270px;
}

#banner .trianguloGeral {
	top: 200px;
}

.conteudoBanner {
	position: relative;
	margin: 0 20px;
}

.containerBanner {
	position: relative;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	top: -38px;
	left: 0;
	background: #FFF;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}


.rslides_tabs {
	height: 30px;
	position: absolute;
	top: 218px;
	text-align: center;
	right: 15px;
	z-index: 100;
}

.rslides_tabs li {
	float: left;
	width: 25px;
	height: 25px;
	margin-left: 5px;
	border: 1px solid #DDD;
}

.rslides_tabs li a {
	background: #006633;
	display: block;
	height: 100%;
	color: #FFF;
	text-decoration: none;
	line-height: 23px;
	font-size: 11px;
	font-weight: bold;
}

.rslides_tabs li a:hover,
.rslides_tabs .rslides_here a {
	background: #10442a;
}



/* CONTEUDO */
#conteudoPrincipal {
	background: url('../img/backgrounds/bottom_conteudo.png') no-repeat bottom center;
	padding-bottom: 131px;
	position: relative;
}

#linkTopo {
	background: url('../img/logos/logo_topo.png') no-repeat bottom center;
	width: 378px;
	height: 131px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	margin-left: -190px;
}


/* GERAIS */
.blocoTitulo {
	text-align: center;
	position: relative;
	display: inline-block;
	margin-top: -1px;
}

.blocoTitulo .titulo {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}



/* PRODUTOS */
#produtos {
	background: url('../img/backgrounds/bg_produtos.png') repeat-x;
	height: 288px;
	margin-top: -38px;
}

.containerProdutos {
	position: relative;
}

#produtos .trianguloGeral {
	top: 0;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
}

#produtos .blocoTitulo {
	margin-left: 40px;
	position: relative;
	z-index: 101;
}

#produtos .blocoTitulo .titulo {
	background: url('../img/backgrounds/titulo_produtos.png') no-repeat;
	width: 117px;
	height: 57px;
	color: #004533;
	line-height: 40px;
	float: left;
}

.linkExplore {
	color: #FFF;
	text-decoration: none;
	padding: 25px 0 0 15px;
	display: block;
	float: left;
}

.linkExplore:hover {
	text-decoration: underline;
}

.blocoData {
	position: absolute;
	top: 25px;
	right: 40px;
}

.blocoData span {
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}


.blocoProdutos {
	margin-top: 40px;
}

.produtoLi {
	text-align: center;
}

.produtoLink {
	text-decoration: none;
	display: block;
	height: 100%;
}

.tituloProduto {
	color: #FFF;
	font-size: 14px;
	display: block;
	text-align: center;
	padding: 0 10px 0;
	text-decoration: none;
	line-height: 18px;
	margin-top: -5px;
}

.produtoLink:hover .tituloProduto {
	text-decoration: underline;
}

.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}

.nbs-flexisel-ul {
	position:relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;   
	text-align: center;  
}

.nbs-flexisel-inner {
	overflow: hidden;
	float: left;
	width: 90%;
	margin-left: 50px;
}

.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
	height: 170px;
}

.nbs-flexisel-item img {
	width: 100%;
	cursor: pointer;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 117px;
	max-height: 117px;
}

/*** Navigation ***/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
	width: 17px;
	height: 50px; 
	position: absolute;
	cursor: pointer;
	z-index: 100;
	top: -15px;
}

.nbs-flexisel-nav-left {
	left: 10px;
	background: url('../img/botoes/seta_left.png') no-repeat;
}

.nbs-flexisel-nav-right {
	right: 5px;
	background: url('../img/botoes/seta_right.png') no-repeat;
}



/* NOVIDADES */
#novidades {
	background: #FFF;
	text-align: center;
}

#novidades .blocoTitulo .titulo {
	background: url('../img/backgrounds/titulo_novidades.png') no-repeat;
	width: 149px;
	height: 62px;
	color: #FFF;
	line-height: 42px;
}

.containerNovidades {
	padding: 30px 0 20px;
	margin: 0 20px;
}

#novidadesUl {
	float: left;
	margin-top: 10px;
}

.novidadesLi {
	width: 156px;
	float: left;
	margin-right: 7px;
}

.novidadesLiLast {
	margin-right: 0;
}

.novidadesLink {
	text-decoration: none;
}

.novidadesImg {
	border: 3px solid #669933;
}

.novidadesTitulo {
	color: #438e69;
	font-size: 14px;
	display: block;
	line-height: 16px;
	padding-top: 5px;
}

.novidadesLi:hover .novidadesImg {
	border-color: #005e33;
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter: alpha(opacity=70);
}

.novidadesLi:hover .novidadesTitulo {
	color: #006633;
}

#facebook {
	float: right;
}

.voltarTopo {
	height: auto;
	padding-top: 0;
}

@media only screen and (max-width: 1023px) {
	#logoFixo,
	.trianguloGeral {
		display: none;
	}

	#banner {
		margin: 45px 0 35px;
	}

	.rslides_tabs {
		display: none;
	}

	.textoBanner {
		text-align: left;
	}

	.blocoData,
	.linkExplore {
		display: none;
	}

	#produtos .blocoTitulo {
		margin-left: 0;
	}

	#novidadesUl {
		display: inline-block;
		float: none;
	}

	.novidadesLi {
		margin: 0 auto 30px;
		float: none;
	}

	#facebook {
		float: none;
		margin: 30px auto;
	}
}

@media only screen and (max-width: 620px) {
	.textoBanner .textoTitulo {
		font-size: 24px;
	}

	.textoBanner .textoDescricao {
		font-size: 12px;
	}

	.bannerLink {
		top: 25px;
		right: 30px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 480px) {
	.produtoLink {
		margin-left: -70px;
	}

	#conteudoPrincipal {
		background-color: #FFF;
		background-image: none;
		padding-bottom: 40px;
	}
}
