.ttCategoria {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #FFF;
	font-size: 12px;
	line-height: 34px;
	height: 34px;
	padding-right: 32px;
	background: url("../img/backgrounds/bg_tt_categoria_sobre_produtos.png") no-repeat right bottom;
}

.ttCategoria span {
	display: block;
	line-height: 34px;
	height: 34px; 
	padding-left: 32px;
	background: url("../img/backgrounds/bg_tt_categoria_sobre_produtos.png") no-repeat left top;
}

.btRealizarOrcamento {
	font-size: 14px;
	color: #656565;
	line-height: 39px;
	height: 39px;
	text-align: center;
	text-decoration: none;
	display: block;
	padding-right: 30px;
	background: url("../img/botoes/bt_realizar_orcamento.png") no-repeat right -69px;
}

.btRealizarOrcamento span {
	padding-left: 30px;
	background: url("../img/botoes/bt_realizar_orcamento.png") no-repeat left top;
	display: block;
	line-height: 39px;
	height: 39px;
}

.btRealizarOrcamento:hover {
	background-position: right -247px;
}

.btRealizarOrcamento:hover span {
	background-position: left -178px;
}

#navLocal {
	padding-top: 50px;
}

#navLocal li {
	border-bottom: 2px solid #b3b3b3;
}

#navLocal .subCategoriaAberta {
	border-bottom: none;
}

#navLocal a {
	font-size: 18px;
	color: #1f1f1f;
	display: block;
	text-decoration: none;
	line-height: 110%;
	padding: 10px 0 10px 10px;
}

#navLocal ul ul {
	background: #cccccc;
	border-top: 2px solid #b3b3b3;
}

#navLocal ul ul a {
	font-size: 14px;
}

#navLocal a:hover {
	background: #FFF;
}

#formOrcamento label{
	display: block;
	width: 90px;
	text-align: right;
	padding-right: 10px;
	font-size: 14px;
	line-height: 40px;
	float: left;
}

#formOrcamento {
	display: none;
	padding-top: 20px;
}

#formOrcamento li {
	height: 40px;
	margin-bottom: 5px;
}

#formOrcamento .liCampoTextArea {
	height: 192px;
}

#formOrcamento input{
	float: left;
	font-family: 'open_sansregular', arial, sans-serif;	
	border: none;
	background: #e6e6e6;
	font-size: 14px;
	color: #4e7171;
	padding: 11px;
	width: 418px;
}

#formOrcamento #iptFone {
	width: 140px;
}

#formOrcamento #iptCidade {
	width: 156px;
}

#formOrcamento textarea {
	float: left;
	font-family: 'open_sansregular', arial, sans-serif;
	border: none;
	background: #e6e6e6;
	font-size: 14px;
	color: #4e7171;
	padding: 11px;
	width: 418px;
	height: 150px;
}

#btEnviarOrcarmento {
	float: right;
	background: none;
	border: none;
	outline: none;
	font-size: 22px;
	color: #4e7171;
	font-family: 'open_sansregular', arial, sans-serif;
}
