.ttCategoria {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #FFF;
	font-size: 12px;
	line-height: 34px;
	height: 34px;
	padding-right: 32px;
	background: url("../img/backgrounds/bg_tt_categoria_sobre_produtos.png") no-repeat right bottom;
}

.ttCategoria span {
	display: block;
	line-height: 34px;
	height: 34px; 
	padding-left: 32px;
	background: url("../img/backgrounds/bg_tt_categoria_sobre_produtos.png") no-repeat left top;
}

.btRealizarOrcamento {
	font-size: 14px;
	color: #656565;
	line-height: 39px;
	height: 39px;
	text-align: center;
	text-decoration: none;
	display: block;
	padding-right: 30px;
	background: url("../img/botoes/bt_realizar_orcamento.png") no-repeat right -69px;
}

.btRealizarOrcamento span {
	padding-left: 30px;
	background: url("../img/botoes/bt_realizar_orcamento.png") no-repeat left top;
	display: block;
	line-height: 39px;
	height: 39px;
}

.btRealizarOrcamento:hover {
	background-position: right -247px;
}

.btRealizarOrcamento:hover span {
	background-position: left -178px;
}


#formOrcamento {
	padding: 20px 0;
	display: none;
}



@media only screen and (max-width: 1023px) {
	.tituloSessao {
		line-height: 1em;
		font-size: 30px;
	}

	.migalhaPao {
		margin-bottom: 50px;
	}
}
