.produtosLi {
	width: 117px;
	text-align: center;
	float: left;
	margin: 0 0 40px 14px;
}

.produtosLink {
	text-decoration: none;
	display: block;
	height: 100%;
}

.blocoTituloProduto {
	border-top: 10px solid #006633;
	position: relative;
}

.produtoBt {
	background: url('../img/botoes/ver_mais_sidebar.png') no-repeat;
	width: 35px;
	height: 30px;
	position: absolute;
	top: -1px;
	right: 0;
}

.produtosTitulo {
	color: #006633;
	font-size: 13px;
	display: block;
	text-align: left;
	text-decoration: none;
	line-height: 15px;
	margin-top: 3px;
	max-width: 70px;
}

.produtosLink:hover .produtosTitulo {
	text-decoration: underline;
}

.btCarregarMais {
	font-size: 14px;
	color: #656565;
	line-height: 39px;
	height: 39px;
	text-align: center;
	text-decoration: none;
	display: block;
	padding-right: 30px;
	background: url("../img/botoes/bt_realizar_orcamento.png") no-repeat right -69px;
}

.btCarregarMais span {
	padding-left: 30px;
	background: url("../img/botoes/bt_realizar_orcamento.png") no-repeat left top;
	display: block;
	line-height: 39px;
	height: 39px;
}

.btCarregarMais:hover {
	background-position: right -247px;
}

.btCarregarMais:hover span {
	background-position: left -178px;
}
