#treinamentosUl li{
	margin-bottom: 15px;
	background: #e6e6e6;
	position: relative;
	cursor: pointer;
}

.nomeTreinamento {
	font-size: 16px;
	color: #006732;
	padding: 25px 25px 20px 25px;
	display: block;
}

.conteudoAccordion {
	display: none;
}

.conteudoAccordion img {
	width: 100%;
}

.btExplore {
	color: #000000;
	display: block;
	font-size: 16px;
	text-align: right;
	line-height: 32px;
	height: 32px;
	text-decoration: none;
	padding-right: 10px;
	background: #cccccc;
}

#treinamentosUl .cms {
	padding: 25px 25px 0 25px; 
}

.conteudoAccordion .cms p {
	text-align: left;
}

.btMaisInformacoes {
	float: left;
	width: 150px;
	height: 30px;
	line-height: 30px;
	background: #009933;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	margin: 0 0 25px 25px;
	border: 1px solid #cccccc;
}

.btMaisInformacoes:hover {
	background: #FFF;
	color: #009933;
	border: 1px solid #009933;
}

.btFecharAccordion {
	float: right;
	height: 30px;
	line-height: 30px;
	color: #4e4e4e;
	font-size: 16px;
	text-decoration: none;
	margin: 0 25px 25px 0;
}

.btFecharAccordion:hover {
	color: #009933;
}

.accordionAberto .btExplore {
	display: none;
}

#treinamentosUl  .accordionAberto {
	background: #cccccc;
}

@media only screen and (max-width: 1023px) {
	.btMaisInformacoes {
		display: block;
		margin: 0 auto;
		float: none;
	}

	.btFecharAccordion {
		float: none;
		margin: 20px auto;
		display: block;
	}
}


